body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-image: url("../images/background.jpg");
  color: white;
}

#search-word-form {

  display: grid;
  place-content: center;
}

.search-word-group {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 94%;

}

.search-word-group label {
  color: black;
}

.search-word-group input {
  border-radius: 0.5em;
  width: 100%;
}

.search-word-group button {
  border-radius: 0.5em;
  width: 50%;
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: Helvetica, sans-serif;
  background-color: teal;
  font-size: 1rem;
  outline: none;

}

h1 {
  text-align: center;
  color: darkslategrey;
}

#p {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 18px;

}

label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

form {
  display: flex;
}

input {
  padding: 5px 10px;
  margin: 15px 3px;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 400px;
  background-color: rgb(159, 214, 214);
  transition: 300ms;
}

input:focus {
  margin: 20px 5px;
  font-size: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.btn-add {
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: darkcyan;
}

.empty {
  color: darkslategrey;
}

.delete-btn {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.edit-btn {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.delete-btn svg {
  fill: white;
  height: 20px;
  width: 20px;
  margin: 0;
  transition: 300ms;
}

.delete-btn svg:hover {
  fill: rgb(255, 0, 0);
  height: 25px;
  width: 25px;
}

.edit-btn svg {
  fill: white;
  height: 20px;
  width: 20px;
  margin: 0;
  transition: 300ms;
}

.edit-btn svg:hover {
  fill: rgb(0, 117, 25);
  height: 25px;
  width: 25px;
}

.show-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tres columnas con el mismo ancho */
  gap: 20px;
  /* Espacio entre las notas */
}

.show-notes p {
  grid-column: 2;
  /* Placing the element in the second column */
  grid-row: 2;
  /* Placing the element in the second row */
}

.notes {
  background: rgb(161, 223, 223);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  word-break: break-all;

}

.text-notes {
  word-break: break-all;
  margin-bottom: 15px;
  color: white;
}

.notes h2 {
  color: white;
  text-align: center;
  word-wrap: break-word;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 2px solid white;
  margin-top: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 5px 30px 5px;
  background: rgb(159, 214, 214);
  border-radius: 5px;
  padding: 10px;
}